@import "tailwindcss";
body {
  font-family: var(--font-clash);
}

:root {
  --background: #070831;
  --foreground: #171717;
  
}
.brown-gradient {
  background: linear-gradient(180deg, #F26B2E 0%, #8C3E1B 100%);
}
.blue-gradient {
  background: linear-gradient(0deg, #060737 0%, #11149D 100%);

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
